<div class="well">
    <h1>Framacalc</h1>
    <p>Framacalc est basé sur le logiciel libre <a href="https://www.ethercalc.org/">EtherCalc</a>, lui-même basé sur le logiciel libre <a href="https://www.socialtext.net/open/socialcalc">SocialCalc</a>.</p>
    <p>Framacalc a été traduit par Martin Gubri lors de son stage pour Framasoft. Une partie de la traduction est issue du travail de traduction de la valeureuse équipe du <a href="http://www.crdp.ac-versailles.fr/">CRDP de Versailles</a>.</p>

    <p>Pour toute question concernant Framacalc, vous pouvez envoyer un mail à depuis <a href="https://contact.framasoft.org">ce formulaire</a></p>
</div>
