/* Accueil */
.home #menu{
  display:none;
}

.home .row.col-xs-12{
  margin-left:0;
}

.home #menu a {
  min-height:76px;
  text-decoration:none
}

.home #menu .fa-stack{
  float:left;
  margin-right:15px;
  font-size:28px
}

.home #menu a .h4{
  line-height:30px
}

.home .faq,
.home .formContact{
  max-width:570px;margin:0 auto
}

.home form .alert {
  margin-top:20px;
}

/* FAQ */
.foire-aux-questions h2 {
  font-size: 24px;
  line-height: 1.1;
  margin-top:30px;
  padding-left:15px
}

.foire-aux-questions .list-group-item-heading{
  cursor:pointer;
  padding:15px 15px;
  margin:0px;
  font-size: 18px;
  line-height: 1.1;
}

.foire-aux-questions .list-group-item-text{
  padding: 0px;
  margin: 0px 15px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
}

.foire-aux-questions .list-group-item{
  padding:0;
}

.foire-aux-questions .list-group-item-heading a{
  position:relative;
  top:-70px;
  visibility:hidden;
}

#content .entry-content li {
  margin-bottom:7px;
}
